* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

.headerpart1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    background: #ffff;
    color: #0000;

}
.headerpart1 img{
    width: 25px;
    height: 25px;
}
.contactnumber{
    display: flex;
    gap: 1rem;

}
.contactnumber a,.contactnumber p{
    text-decoration: none;
    color: #000;
    
}
.navigation{
    display: flex;
    background: #000;
    justify-content: space-between;
    height: 5rem;
    color: #fff;
}
.imagelogo{
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.imagelogo img{
    width: 150px;
    height: 80px;
}

.navibar {
  width: 64%;

}

.navibar ul {
  display: flex;
  align-items: stretch;
  height: 5rem;
  padding-right: 3.5rem;
  font-size: 1rem;
}

.navibar a {
  width: 20%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.navibar li {
  list-style: none;
}

a.active {
  cursor: pointer;
  background-image: linear-gradient(to top, #4c98d3, #191718);
}

.navibar a {
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.bodycontainer{
  height: 34rem;
}
.carousel-item img{
  height: 30rem;
}
.carousel-item a{
  background: #000;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background: lightsteelblue;
}

.carousel-caption-button{
  width: 15%;
  padding: 1rem;
  color: #ffff;
  background-image: linear-gradient(to top, #4c98d3, #191718);
}
.carousel-caption1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.maincontainer{
  padding: 5rem;
}
.maincontainer2{
  padding: 0 5rem 5rem 5rem;
}
.subcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.subcontainer h2,.subcontainer h3{
  font-size: 2rem;
}
.subcontainer img{
  width: 100%;
  height: 4rem;
}

.popup {
  position: fixed;
  z-index: 1000;
  bottom: 7%;
  left: 36%;
  width: 31%;
  height: 80%;
  background: #9d9a9a;
  /* background-image: linear-gradient(to top, #4c98d3, #383637); */
  box-shadow: -15rem 15rem 50rem 50rem rgb(8 8 8 / 70%);
  display: flex;
}

.popup-inner {
  
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 3rem;
}
.emailform{
  display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
}
.namefield{
  outline: none;
    height: 2.75rem;
    border: none;
}
.textarea{
  resize: none;
  height: 7.5rem;
  outline: none;
  border: none;
}
.popup-button {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background: #5e627c;
  color: #fff;
}